{% extends "blog/base.html" %}
<!-- basically we will replace content 'block' in base.html with the block content defined below -->
{% block content %}
    {% comment %} to access current user from view object {% endcomment %}
    {% comment %} to get number of object in paginator object uses .count {% endcomment %}
    <h2> Posts by {{ view.kwargs.username }} ( {{ page_obj.paginator.count }} )  </h2>

    {% for post in posts %}

      <article class="media content-section">
        <div class="media-body">
          <div>
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          </div>
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"d F Y" }}</small>
          </div>
          {% comment %} variable use {{ var }} while code use {% code %} {% endcomment %}
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>

    {% endfor %}
    
    {% if is_paginated %}

      {% comment %} page_obj to access current page object {% endcomment %}
      {% if page_obj.has_previous %}
        <a href='?page=1' class='btn btn-outline-secondary btn-sm'>First</a>
        <a href='?page={{ page_obj.previous_page_number }}' class='btn btn-outline-secondary btn-sm'>Previous</a>
      {% else %}
        <a href='#' class='btn btn-outline-secondary btn-sm disabled'>First</a>
        <a href='#' class='btn btn-outline-secondary btn-sm disabled'>Previous</a>
      {% endif %}
      
      {% for page in page_obj.paginator.page_range %}

        {% comment %} if current iteration is more than current page num - 2 {% endcomment %}
        {% if page >= page_obj.number|add:"-2" and page < page_obj.number %}
          <a href='?page={{ page }}' class='btn btn-outline-secondary btn-sm'>{{ page }}</a>
        {% comment %} if current iteration is less than current page num + 2 {% endcomment %}
        {% elif page <= page_obj.number|add:"2" and page > page_obj.number %}
          <a href='?page={{ page }}' class='btn btn-outline-secondary btn-sm'>{{ page }}</a>
        {% comment %} if equal to cur page num {% endcomment %}
        {% elif page == page_obj.number %}
          <a href='?page={{ page }}' class='btn btn-outline-primary btn-sm'>{{ page }}</a>
        {% endif %}

      {% endfor%}

      {% if page_obj.has_next %}
        <a href='?page={{ page_obj.next_page_number }}' class='btn btn-outline-secondary btn-sm'>Next</a>
        {% comment %} to access Paginator object from Page object we use page_obj.paginator {% endcomment %}
        <a href='?page={{ page_obj.paginator.num_pages }}' class='btn btn-outline-secondary btn-sm'>Last</a>
      {% else %}
        <a href='#' class='btn btn-outline-secondary btn-sm disabled'>Next</a>
        <a href='#' class='btn btn-outline-secondary btn-sm disabled'>Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
